.Table{
  margin-top: 80px;
}

button.blue-button {
  background-color: #002d62; /* Dark blue background */
  color: #ffffff; /* White text */
  padding: 15px 30px; /* Padding for the button */
  font-size: 16px; /* Font size */
  font-weight: bold; /* Bold text */
  border: none; /* No border */
  border-radius: 30px; /* Rounded corners */
  text-align: center; /* Centered text */
  text-decoration: none; /* No underline */
  display: inline-block; /* Inline-block display */
  cursor: pointer; /* Pointer cursor on hover */
  position: relative; /* Relative positioning */
  transition: all 0.3s ease; /* Smooth transition */
  box-shadow: 0 0 20px #0073e6, 0 0 20px #0073e6 inset; /* Dark blue glowing shadow */
}

button.blue-button::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 30px;
  background: linear-gradient(45deg, #0073e6, #002d62, #0073e6, #002d62);
  z-index: -1;
  filter: blur(20px);
  opacity: 0;
  transition: opacity 0.3s ease;
}

button.blue-button:hover::before {
  opacity: 1;
}
.green-button {
  background-color: #004d00; /* Dark green background */
  color: #ffffff; /* White text */
  padding: 15px 30px; /* Padding for the button */
  font-size: 16px; /* Font size */
  font-weight: bold; /* Bold text */
  border: none; /* No border */
  border-radius: 30px; /* Rounded corners */
  text-align: center; /* Centered text */
  text-decoration: none; /* No underline */
  display: inline-block; /* Inline-block display */
  cursor: pointer; /* Pointer cursor on hover */
  position: relative; /* Relative positioning */
  transition: all 0.3s ease; /* Smooth transition */
  box-shadow: 0 0 20px #00ff00, 0 0 20px #00ff00 inset; /* Glowing shadow */
}

.green-button::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 30px;
  background: linear-gradient(45deg, #00ff00, #008000, #00ff00, #008000);
  z-index: -1;
  filter: blur(20px);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.green-button:hover::before {
  opacity: 1;
}

.Table{
  margin-top: 100px;
}

.orange-button {
  background-color: orange;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  cursor: pointer;
}