.login-register-container {
  display: flex;
  height: 100vh;
}

.left-side {
  flex: 1;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -120px;
}

.left-side .logo {
  max-width: 100%;
  height: auto;
}

.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  margin-left: -0px; 
}

.right-side h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #ef182d;
}

.right-side form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
}

.right-side input[type="text"],
.right-side input[type="email"],
.right-side input[type="password"] {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.right-side button {
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #ef182d;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.right-side button:hover {
  background-color: #fc3e51;
}

.right-side .role-selector {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

.right-side .role-selector label {
  font-size: 16px;
  color: #2a2b33;
}

.toggle-button {
  color: #ef182d;
}

.toggle-button:hover {
  color: #fc3e51;
  text-decoration: underline;
}
